parameters:

    paths:
        - src/

    level: 8

    ignoreErrors:
        -
            identifier: ternary.alwaysTrue
            path: src/InterfaxChannel.php

    stubFiles:
        - stubs/Resource.stub
